/* sidenav bgcolor*/
$secondary: darken(#2ba6cb, 10);

$logo_color: white;

$warning: #F7E8AF;
$search-highlight: #FFEF29;

$total_count_bg: #C0B9B9;

$error: #D72A25;
$attention: #F6A40A;
$success: #2DAB49;

$contrast: #EEE;
$top_pane: #EAEAEA;
$primary_color: #EF4E2F;
$action_buttons: #2ba6cb;

$secondary_callout: #FF7902;  /*orange*/

$will_be_encrypted: #41cd60;
$wont_be_encrypted: #F6A40A;